.client {
    @extend %section-padding;
    @extend %auto-margin;
    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
}
  .client__container {
    @extend %contain-padding;
    @extend %auto-margin;
    @media screen and (min-width: 480px) {
      width: 480px;
    } 
    @media screen and (min-width: 768px) {
      width: 768px;
    } 
    @media screen and (min-width: 1200px) {
      width: 1200px;
  }
}
  .client__tittle {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.17;
    margin-bottom: 30px;
    text-align: center;
    @media screen and (min-width: 1200px) {
    font-size: 36px;  
    }
  }
  .client__list {
    @extend %list;
    margin: -15px;
    display: flex;
    // width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
  }
  .client__link {
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    
    align-items: center;
    justify-content: center;
    fill: $icon-color;
    width: 100%;
  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    border-radius: 4px;
    border: 1px solid $icon-color;
    &:hover,
    &:focus {
      border: 1px solid $accent-color;
      cursor: pointer;
      fill: $accent-color;
    }

  }
  .client__item {
    display: flex;
    width: calc((100% - 2 * 30px)/2);
    margin: 15px;
    padding: 0;
    @media screen and (min-width: 768px) {
      width: calc((100% - 3 * 30px)/3); 
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 6 * 30px)/6); 
    }
  }
  .client__icon {
    cursor: pointer;
    fill: inherit;
  }