.logo {
    color: $accent-color;
    text-decoration: none;
    font-family: $sec-font;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
  
    display: flex;
    
    &.logo--header {
      color: $primary-text-color;
    }
    &.logo--footer {
      color: $hero-text-color;
    }
  }
  