.logo {
    color: $accent-color;
    text-decoration: none;
    font-family: $sec-font;
    font-weight: bold;
    text-decoration: none;
    font-size: 24px;
    line-height: 1.2;
  
    display: inline-block;
    padding: 0;
    margin: 0;
    @media screen and(min-width:1200px) {
      font-size: 26px;
    }
          
    &.logo--header {
      color: $primary-text-color;
      text-align: center;
      
    }
    &.logo--footer {
      color: $hero-text-color;
    }
  }
  