.menu-toggle {
  width: 40px;
 height: 40px;
  display: none;
  align-items: center;
  justify-content: center;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  border: none;

  fill: $primary-text-color;
  &:hover, &:focus {
    fill: $accent-color; 
  }
  @media screen and (max-width: 767px) {
    display: flex;
  }
}
.menu-toggle__image {
  box-sizing: border-box;
 width: 24px;
 height: 24px;
}
.menu-container {
width: 100%;
z-index: 5;

  @media screen and (min-width:768px) {
    display: flex;
    align-items: center;
    
  }
  @media screen and (max-width:767px) {
    position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px 48px;
  background-color: $hero-text-color;
  overflow: scroll;

  transform: translateX(100%);
  transition: transform 250ms ease;
  // z-index: 999;
  &.is-open {
    transform: translateX(0);
  }
}
}
.menu {
  
 
  overflow: scroll;
  // @media screen and(max-width:767px) {
  //   display: none;
  // }
    @media screen and (min-width: 768px) {
    display: flex;  
  align-items: center;
  justify-content: center;
      margin-left: 88px;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 93px;
    }
}
.menu__close {
  display: none;
  position: absolute;
  top: 10px;
  right: 15px;

  width: 40px;
  height: 40px;

  border: 1px solid transparent;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
  &:focus {
    fill: $accent-color;
  }
  @media screen and (max-width:767px) {
  display: flex;
  }
  
}
.menu__icon {
  fill: inherit;
}
.menu__nav-list {
 
  @extend %list;
  @media screen and (min-width:768px) {
    display: flex;
   margin: 0;
  }
}
.menu__nav-item {
  margin-bottom: 32px;
  
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width:768px) {
    margin-right: 50px;
    margin-bottom: 0;
 
    &:last-child {
      margin-right: 0px;
    }
  }
}
.menu__nav-link {
  text-decoration: none;
  padding: 0;
 
  display: inline-block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-align: left;
  letter-spacing: 0.02em;
  color: $primary-text-color;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:hover,
  &:focus {
    color: $accent-color;
  }
  @media screen and (min-width:768px) {
    padding-bottom: 32px;
    padding-top: 32px;
    display: flex;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    font-size: 14px;
  line-height: 1.14;
  &.menu__nav-link--current {
    color: $accent-color;
    &::after {
      content: "";
      bottom: 0;
      left: 0;
  
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 4px;
      background-color: $accent-color;
    }
 
    
    }
    
  }
}
.menu__contacts-list {
  @extend %list;
  margin-top: 302px;
  @media screen and (min-width:768px) {
    display: flex;
    flex-direction: column;
    margin-left: 84px;
    margin-top: 0;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 305px;
}
}
.menu__contacts-item {
  margin-bottom: 32px;
  padding: 0;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    margin-right: 0;
    margin-bottom: 10px; 

    &:last-child {
        margin-bottom: 0;
    }
  }
@media screen and (min-width: 1200px) {
flex-wrap: wrap;
align-items: center;
&:not(:last-child) {
        margin-right: 30px;
        margin-bottom: 0;
    }
}
}
.menu__contacts-link {
  text-decoration: none;
  padding: 0;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  display: flex;
  fill: $tittle-text-color;

  color: $tittle-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: $accent-color;
    fill: $accent-color;
  }
  @media screen and (max-width:767px) {
    color: $accent-color;
  }
  &--email {
    font-size: 24px;
    @media screen and (max-width:767px) {
      color: $tittle-text-color;
  }
}
  @media screen and (min-width:768px) {
    font-size: 12px;
  }
  @media screen and (min-width:1200px) {
    font-size: 14px;
  }
}
.menu__contacts-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: inherit;
  margin-right: 10px;
  @media screen and (max-width:767px) {
    display: none;
  }
  @media screen and (max-width:1199px){
    width: 100%;
    max-width: 14px;
    height: auto;
  }
}
.menu__social-list {
  
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  @media screen and (min-width:768px) {
display: none;    
  }
}
.menu__social-item {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid $tittle-text-color;
  &:last-child {
    padding-right: 0;
    border: none;
  }
  &:first-child {
    padding-left: 0;
  }
}
.menu__social-link {
  text-decoration: none;
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent-color;
  padding: 0;
}