.occupation {
  @extend %section-padding;
  @extend %auto-margin;
  display: none;
  
  @media screen and (min-width: 1200px) {
    padding-top: 0;
    padding-bottom: 94px;
    display: flex;
  }
 
}
.occupation__container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.occupation__tittle {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 0;

  margin-bottom: 50px;
}
.occupation__list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.occupation__form {
  display: flex;
  margin-right: 30px;
  max-width: 370px;
  position: relative;
  &:last-child {
    margin-right: 0px;
  }
}

.occupation__label {
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
width: 100%;
  max-width: 370px;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
  z-index: 1;
  & > p {
    color: $hero-text-color;
  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
  }
}
