%contain-padding {
    padding-left: 15px;
    padding-right: 15px;
}
%auto-margin {
    margin-right: auto;
    margin-left: auto;
}
%section-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}

%list {
    list-style: none;
    padding: 0;
    margin: 0;
}