$primary-text-color: #212121;
$tittle-text-color: #757575;
$accent-color: #2196f3;
$hero-text-color: #ffffff;
$hero-bgr-color: #2f303a;
$button-bgr-color: #f5f4fa;
$icon-color: #afb1b8;
$prim-font: Roboto, sans-serif;
$sec-font: Raleway, sans-serif;